body{
    margin: 0;
     padding: 0;
     font-family: sans-serif;
     background: url(https://thumbs.dreamstime.com/b/blood-bag-hand-donor-heart-donation-day-concept-human-donates-vector-illustration-flat-style-79000463.jpg)
     no-repeat center center fixed;
     width:100%;
     height: auto;
     background-size:100% 100% ;
 }
     
 .container{
     position: absolute;
     top:50%;
     left:50%;
     transform:translate(-50%,-50%) ;
     width:500px;
     padding:2rem;
     background:rgba(236, 234, 234, 0.61);
     box-sizing: border-box;
     box-shadow: 0 16px 26px rgba(0, 0, 0, 0.5);
     border-radius:12px;
     text-align:center;
 }
 
      .container h2{
         color: rgba(0, 0, 0, 0.699);
         font-family: "Lucida Console", Monaco, monospace;
         font-size: 2rem;
         font-weight: 2%;
         }
         
         input{
          width: 70%;
          padding: 0.8rem;
          border-radius: 20px;
          border: none;
         }
 
         #doa,#bg{
             width: 36%;
             padding: 0.5rem;
            border-radius: 20px;
            border: none;
         }
           
         #da,#bp{
         color:rgba(0, 0, 0, 0.932);
           font-size:1rem;
           font-family: "Lucida Console", Monaco, monospace;
           font-weight: 50;
         }
         
        
 
         .container label{
             font-family:"Lucida Console", Monaco, monospace;
             color: rgb(0, 0, 0);
             font-size: 1rem;
             font-weight:70;
            float:center;
         
         }
 
         .gend{
            display: flex;
        }
        
           .gende{
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
           
         }
         .gende input{
             float: left;
             color:rgb(255, 220, 220);
             font-size: 1rem;
             font-family: "Lucida Console", Monaco, monospace;
           
         }
        
 
         button{
         background-color: Red;
         width: 26%;
         padding: 0.6rem;
         border: none;
         border-radius: 5px;
         color: rgb(238, 238, 238); 
         }